<header>
    <div class="navbar d-flex justify-content-between">
        <div class="col-6">
            <div class="search-container p-2 px-3">
                Logo
            </div>
        </div>
        <div class="d-flex">
            <div class="navbar-item mx-2 d-flex justify-content-center align-items-center pointer">
                <i class="fa fa-bell-o text-white" aria-hidden="true"></i>
            </div>
            <div class="profile-avatar pointer">
                <i class="fa fa-2 fa-user text-white" aria-hidden="true"></i>
            </div>
        </div>
    </div>
</header>