@import "../node_modules/angular-notifier/styles.scss";
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
body {
    background-color: #f8f9fa !important;
    font-family: "Segoe UI", sans-serif !important;
}

.appContainer {
    margin-top: 80px;
    height: 100vh;
    padding: 20px;
}

.pointer {
    cursor: pointer;
}

.navbar {
    z-index: 90;
    height: 80px;
    position: fixed;
    padding: 0 2em !important;
    top: 0;
    background-color: #ffff;
    box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.05);
}

.input-group-text {
    background-color: #e9ecef;
    border-right: 0;
}

.form-control {
    border-left: 0;
}

.form-control:focus {
    box-shadow: none;
    border-color: #007bff;
}

button:disabled {
    opacity: 0.8;
    cursor: not-allowed;
}

.text-danger {
    font-size: 0.85rem;
}