<form #loginForm="ngForm" (ngSubmit)="changePassword(loginForm)">
    <div class="mb-3">
        <label for="oldPassword" class="form-label">Old Password</label>
        <div class="input-group">
            <input type="password" [(ngModel)]="oldPassword" name="oldPassword" id="oldPassword" class="form-control"
                placeholder="Enter your oldPassword" required>
        </div>
        <div *ngIf="loginForm.submitted && loginForm.controls['oldPassword']?.invalid" class="text-danger small mt-1">
            Please enter your old password.
        </div>
    </div>

    <div class="mb-3">
        <label for="newPassword" class="form-label">New Password</label>
        <div class="input-group">
            <input type="password" [(ngModel)]="newPassword" name="newPassword" id="newPassword" class="form-control"
                placeholder="Enter your newPassword" required>
        </div>
        <div *ngIf="loginForm.submitted && loginForm.controls['newPassword']?.invalid" class="text-danger small mt-1">
            Please enter your new password.
        </div>
    </div>

    <div class="mb-3">
        <label for="confirmPassword" class="form-label">Confirm Password</label>
        <div class="input-group">
            <input type="password" [(ngModel)]="confirmPassword" name="confirmPassword" id="confirmPassword"
                class="form-control" placeholder="Enter your confirmPassword" required>
        </div>
        <div *ngIf="loginForm.submitted && loginForm.controls['confirmPassword']?.invalid"
            class="text-danger small mt-1">
            Please enter your confirm Password.
        </div>
    </div>

    <button type="submit" class="btn btn-primary w-100 d-flex justify-content-center align-items-center mt-4"
        [disabled]="loading">
        <span *ngIf="!loading">Change Password</span>
        <span *ngIf="loading" class="spinner-border spinner-border-sm me-2" role="status" aria-hidden="true"></span>
        <span *ngIf="loading">Changing ...</span>
    </button>
</form>

<notifier-container></notifier-container>